In [9]:
a=10#int
print(a, type(a)) 
a=10.2#floatt
print(a,type(a)) 
a="Hellow"#str
print(a,type (a))
a=True#bool
print(a,type(a))
a=None#nonetype
print(a,type(a))
a=[1,2,3]#list
print(a,type(a))
a=(1,2,3,4)#tupple
print(a,type(a))
a={1,2,3}#set
print(a,type(a))
a={'a':1,'b':2}#dict
print(a,type(a))

10 <class 'int'>
10.2 <class 'float'>
Hellow <class 'str'>
True <class 'bool'>
None <class 'NoneType'>
[1, 2, 3] <class 'list'>
(1, 2, 3, 4) <class 'tuple'>
{1, 2, 3} <class 'set'>
{'a': 1, 'b': 2} <class 'dict'>

In [12]:
a=5
b=10
print(a,b)
print(a,b ,a + b)
print(a, b ,a + b, sep="\n")# sep= is used for seperator

5 10
5 10 15
5
10
15

In [14]:
c=a + b
print(a,end='+')
print(b)
print(c)

5+10
15

In [15]:
print=10

In [16]:
print(a)

TypeError: 'int' object is not callable

In [17]:
del print#use to del veriable from memory

In [18]:
print(a)

5

In [19]:
name='Akash'
age=21
city='lucknow'
print(f' my name is {name},i am {age} year old,i live in {city}')

 my name is Akash,i am 21 year old,i live in lucknow

In [22]:
x=10
y=3
z=x/y
print(f'{x}/{y}={z:.2f}')
print(x,'/',y, '=',round(z,2))

10/3=3.33
10 / 3 = 3.33

In [26]:
print(f'{name} {age}')
print(f'{name:10} {age}')

Akash 21
Akash      21

In [27]:
n1='Akash'
n2='Pankaj'
n3='Gaurav'
a1,a2,a3=22,21,21
print(f'{n1:20} {a1}')
print(f'{n2:20} {a2}')
print(f'{n3:20} {a3}')

Akash                22
Pankaj               21
Gaurav               21