In [1]:
x=(12,45,665)
print(x)
print(type(x))

(12, 45, 665)
<class 'tuple'>

In [2]:
a=1,2,3,4
print(a)

(1, 2, 3, 4)

In [3]:
w,x,y,z=a
print(w,x,y,z)
first,*rest=a#first value will be store in variable,rest will be store in rest variable as a list
print(first,rest)

1 2 3 4
1 [2, 3, 4]

In [6]:
fname,*lname="Akash Deep Srivastava".split()
print(fname,lname,sep='\n')

Akash
['Deep', 'Srivastava']

In [7]:
#set
a={3,2,4,6,3,7,8,9,4}
print(a)

{2, 3, 4, 6, 7, 8, 9}

In [10]:
b=set()#empty set
b.add('hello')
b.add('fello')
b.add('mello')
b.add('jello')
print(b)
b.update({'yello'})
print(b)

{'fello', 'mello', 'jello', 'hello'}
{'mello', 'jello', 'fello', 'yello', 'hello'}

In [11]:
b.discard('hello')
b.discard('killo')
print(b)

{'mello', 'jello', 'fello', 'yello'}

set operation

In [12]:
a={1,2,3,4}
b={3,4,5,6}
c={1,2,3,4,5,6,7,8,9,10}
d={6,7,8,9,10}

In [13]:
a.union(b)

{1, 2, 3, 4, 5, 6}

In [14]:
a.intersection(b)

{3, 4}

In [17]:
print(a.difference(b))
print(b.difference(a))

{1, 2}
{5, 6}

In [18]:
a.symmetric_difference(b)

{1, 2, 5, 6}

In [22]:
print(a.issuperset(b))
print(c.issuperset(a))

False
True

In [23]:
print(a.issubset(d))
print(b)

False